h1 {
    color: #00c295;
    margin: 20px;
    padding-bottom: 100px;
}
p {
  color: #0088c2;
}

h1 {
    background-color: #cfffd9;
}
h2 {
    background-color: #e8cfff;
}

* {
  font-family: sans-sans-serif;
}
p {
  font-size: 12px;
text-decoration: line-through;
}
h2  {
  text-decoration: underline;
}
h1 {
  text-transform: uppercase;
  }
#intro  {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
.spotlight {
  background-color: yellow;
}
